<section class="cards container">
  <mat-card class="item">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Ultimos 30 dias</mat-card-title>
      <mat-card-subtitle>Consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>
        {{dados?.consultas.consultas_30dias_anteiores | currency: 'BRL'}}
      </h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Próximos 30 dias</mat-card-title>
      <mat-card-subtitle>Consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>
        {{dados?.consultas.consultas_30dias_posteriores | currency: 'BRL'}}
      </h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Faturamento anterior</mat-card-title>
      <mat-card-subtitle>Consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>
        {{dados?.faturamento.anterior.valor | currency: 'BRL'}}
      </h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="item">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Faturamento previsão</mat-card-title>
      <mat-card-subtitle>Consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>
        {{dados?.faturamento.previsao.valor | currency: 'BRL'}}
      </h2>
    </mat-card-content>
  </mat-card>
</section>